body,
html,
.body {
    background: #FFFFFF !important;
    -webkit-font-smoothing: antialiased;
}

h6,
h2 {
    margin-bottom: 0;
}

.wrapper {
    &.header {
        background: #242424;
    }
    &.main-content {
        background: #F5F5F5;
        border-bottom: 1px solid #E7E7E7;
    }
}

td.columns,
td.column,
th.columns,
th.column {
    padding-top: 8px;
    padding-bottom: 8px;
}

th.columns,
td.columns {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

th.first {
    padding-left: 10px !important;
}

th.last {
    padding-right: 10px !important;
}

.color-red {
    color: #db2325;
}

.color-gray {
    color: #888888;
}

.small-text {
    font-size: 11px;
}

.text-bold {
    font-weight: bold;
}

.header-top {
    a {
        color: #888888 !important;
        font-size: 11px;
        text-decoration: underline;
    }
}

th.columns.header-logo {
    padding-top: 26px;
    padding-bottom: 22px;
}

th.columns.header-languages {
  padding-top: 50px !important;
    padding-bottom: 29px;
}

.container.info>tbody>tr>td {
    padding-top: 50px;
    padding-bottom: 33px;
}

.container.main-content__container>tbody>tr>td {
    padding-top: 50px;
    padding-bottom: 33px;
}

.container.footer>tbody>tr>td {
    padding-top: 30px;
    padding-bottom: 30px;
}

.info {
    &-title {
        font-size: 18px;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 40px;
    }
    &-description {
        p {
            font-size: 28px;
            margin-bottom: 35px;
        }
        span {
            text-transform: uppercase;
            background-color: #EEEEEE;
            line-height: 40px;
            letter-spacing: -0.025em;
            padding: 0 7px;
        }
    }
    &-img {
        width: 308px;
        cursor: default;
    }
}

.default-btn {
    text-transform: uppercase;
    font-size: 21px;
    background: #6AB436 url('http://s1.radikale.ru/uploads/2017/8/10/c0fd1148924db4c4d1352be4fb4b9022-full.png') 15px 50% no-repeat !important;
    background-color: #6AB436 !important;
    border-color: #6AB436;
    padding: 15.5px 35px 15.5px 57.5px;
    border-radius: 0;
    border: none;
    color: #fff;
    font-weight: bold;
    display: inline-block !important;
}

.main-content {
    &__title {
        font-size: 26px;
        line-height: 33px;
        margin-bottom: 25px;
        text-transform: none !important;
    }
    &__description {
        p {
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 47px;
            text-transform: none !important;
        }
    }
}

.plans {
    &-title {
        font-size: 28px;
        margin-bottom: 26px;
        text-transform: none !important;
    }
    img {
        margin-bottom: 16px;
    }
    p {
        font-size: 15px;
        line-height: 26px;
        text-transform: none !important;
    }
    h5 {
        font-size: 15px;
        text-transform: uppercase;
    }
    &-description {
        margin-bottom: 35px;
    }
}

table.callout {
    height: 641px !important;
}

th.callout-inner {
    padding-top: 30px;
    padding-bottom: 30px;
    border: 1px solid #D2D2D2;
    h5,
    p {
        padding: 0 15px;
    }
    &.color-success {
        border: 2px solid $success-color;
    }
}

.footer {
    p,
    a {
        color: #CECECE !important;
        font-size: 11px !important;
    }
    a {
        text-decoration: underline !important;
        &.text-right {
            display: block !important;
            text-align: right !important;
        }
    }
    p {
        margin-bottom: 5px;
    }
    td.columns,
    td.column,
    th.columns,
    th.column {
        padding-bottom: 0 !important;
        padding-top: 0 !important;
    }
}

p.footer-first {
    margin-bottom: 30px;
}

.footer-links--right th {
    text-align: right;
    a {
        padding: 0 5px;
        border-right: 1px solid #CECECE !important;
        &.last-child {
            border-right: none !important;
            padding-right: 0 !important;
        }
    }
}

.links {
    display: inline-block;
}

p>a {
    font-size: 11px !important;
    color: #CECECE !important;
    cursor: pointer !important;
}