// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!
// Body Styles 
body,
html,
.body {
    background: #FFFFFF !important;
}

.wrapper {
    &.header {
        background: #242424;
    }
    &.main-content {
      background: #F5F5F5;
    }
}

.color-red {
    color: #db2325;
}